# Misc
__pycache__
tmp
geckodriver.log
SETUP_FINISHED

# Bots
fairgame-master
evga_bot.py
newegg_bot.js

# Node
geckodriver.exe
node-v14.16.1-win-x64

# Configuration
config.json
evga.key
payment.key
